# Written Assignment 07
*author: Logan Reine*

## Introduction

### `MLequations_v3.ipynb` is a machine learning library of my own making.  All functions and equations used to calculate virtually all answers are defined in the MLequations file.  It will be submitted with this assignment as a `.ipynb` file and a pdf file.

## Headings

In [5]:
%run MLequations_v3.ipynb

## Data

In [8]:
cat_target = pd.read_csv("categorical-target.csv")
con_target = pd.read_csv("continuous-target 2.csv")

# 1 Basic Evaluation Measures - Categorical Target

The table below shows the predictions made for a **categorical target feature** by a model for a test dataset.

In [9]:
cat_target

    ID  Target  Prediction
0    1   False       False
1    2   False       False
2    3   False       False
3    4   False       False
4    5    True        True
5    6   False       False
6    7    True        True
7    8    True        True
8    9   False       False
9   10   False       False
10  11   False       False
11  12    True        True
12  13   False       False
13  14    True        True
14  15   False       False
15  16   False       False
16  17    True       False
17  18    True        True
18  19    True        True
19  20    True        True

Based on this test set, calculate the following evaluation measures.

### a. A confusion matrix and the misclassification rate

In [15]:
print(f'Misclassification Rate: {mis_rate(cat_target['Target'], cat_target['Prediction'])}')

Misclassification Rate: 0.05

In [16]:
con_matrix(cat_target['Target'], cat_target['Prediction'])

          Positive  Negative
Positive         8         1
Negative         0        11

### b. The average class accuracy (harmonic mean)

In [17]:
print(f'Harmonic Mean: {harmonic_mean(cat_target['Target'], cat_target['Prediction']):.4f}')

Harmonic Mean: 0.9412

### c. The precision, recall, and F1​ measure

In [26]:
print(f'Precision: {recall(8, 0):.4f}\nRecall: {recall(8, 1):.4f}\nF1 Measure: {f1(cat_target['Target'], cat_target['Prediction']):.4f}')

Precision: 1.0000
Recall: 0.8889
F1 Measure: 0.9412

# 2 Basic Evaluation Measures - Continuous Target

The table below shows the predictions made for a **continuous target feature** by two different prediction models for a test dataset.

In [27]:
con_target

    ID  Target  Model 1 Prediction  Model 2 Prediction
0    1    2623                2664                2691
1    2    2423                2436                2367
2    3    2423                2399                2412
3    4    2448                2447                2440
4    5    2762                2847                2693
5    6    2435                2411                2493
6    7    2519                2516                2598
7    8    2772                2870                2814
8    9    2601                2586                2583
9   10    2422                2414                2485
10  11    2349                2407                2472
11  12    2515                2505                2584
12  13    2548                2581                2604
13  14    2281                2277                2309
14  15    2295                2280                2296
15  16    2570                2577                2612
16  17    2528                2510                2557
17  18    2342                2381                2421
18  19    2456                2452                2393
19  20    2451                2437                2479
20  21    2296                2307                2290
21  22    2405                2355                2490
22  23    2389                2418                2346
23  24    2629                2582                2647
24  25    2584                2564                2546
25  26    2658                2662                2759
26  27    2482                2492                2463
27  28    2471                2478                2403
28  29    2605                2620                2645
29  30    2442                2445                2478

### a. Based on these predictions, calculate the evaluation measures listed below for each model.

i. The sum of squared errors

In [57]:
print(f'Model 1 Squared Error: {squared_error(con_target['Target'], con_target['Model 1 Prediction'])}')

Model 1 Squared Error: 16750.0

In [58]:
print(f'Model 2 Squared Error: {squared_error(con_target['Target'], con_target['Model 2 Prediction'])}')

Model 2 Squared Error: 47369.0

ii. the R2 measure

In [76]:
print(f'Model 1 R2 Measure: {r2(con_target['Target'], con_target['Model 1 Prediction']):.4f}')

Model 1 R2 Measure: 0.9286

In [75]:
print(f'Model 2 R2 Measure: {r2(con_target['Target'], con_target['Model 2 Prediction']):.4f}')

Model 2 R2 Measure: 0.8035

### b. Based on the evaluation measures calculated, which model do you think is performing better for this dataset?

*Based on the measures calculated here, model 1 is performing better.  The squared error of model 1 is less than model 2, while the R2 measure for model 1 is higher than model 2's, meaning model 1 is a better fit at making predictions in this data set.*