# **Written Assignment 6**

*Author: Logan Reine*

## Introduction

### `MLequations_v3.ipynb` is a machine learning library of my own making.  All functions and equations used to calculate virtually all answers are defined in the MLequations file.  It will be submitted with this assignment as a `.ipynb` file and a pdf file.

## Headings

In [2]:
%run MLequations_v3.ipynb
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)
out = lambda x: print("ANSWER:\n\t{:.4f}".format(x))

### Data

In [3]:
education = pd.read_csv("education.csv")
entertainment = pd.read_csv("entertainment.csv")
insurance_policy = pd.read_csv("insurance-policy 2.csv")
meningitis = pd.read_csv("meningitis 3.csv")
naive_bayes = pd.read_csv("naive-bayes.csv")

# **1 Computing Probability - Equally Likely Outcomes**

### a. Three people flip a fair coin. What is the probability that exactly two of them will get heads?

    Using the binomial distribution, with 3 choose 2, and the probability of a single occurence being 1/2

In [4]:
heads_prob = P(1, 2)
out((bin_dist(3, 2, heads_prob)))

ANSWER:
	0.3750

### b. Twenty people flip a fair coin. What is the probability that exactly eight of them will get heads?

    Using binomial distribution, with combinations 20 choose 8, and the probability of a single occurence being 1/2.

In [5]:
bd = (bin_dist(20, 8, heads_prob))
out(bd)

ANSWER:
	0.1201

### c. Twenty people flip a fair coin. What is the probability that at least four of them will get heads?

    "At least" refers to the minimum number of times an event will occur.  Out of 20 events, and at least 4 being heads, you're summing he binomial distribution of 20 choose n, where n = 4, and n increases by one and continutes to iterate until n = 20.

In [6]:
bd = (bin_dist_least(20, 4, heads_prob))
out(bd)

ANSWER:
	0.9987

# **2 Estimating Probabilities**

In [7]:
meningitis

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False
1   2     False   True     False       False
2   3      True  False      True       False
3   4      True  False      True       False
4   5     False   True     False        True
5   6      True  False      True       False
6   7      True  False      True       False
7   8      True  False      True        True
8   9     False   True     False       False
9  10      True  False      True        True

### a. P(Vomiting = true)

    Each instance in the column vomiting that is true, divided by the total number of instances.

In [8]:
out(P(6, 10))

ANSWER:
	0.6000

### b. P(Headache = false)

    Each instance in the column headache that is false, divided by the total number of instances.

In [9]:
out(P(3, 10))

ANSWER:
	0.3000

### c. P(Headache = true, Vomiting = false)

In [10]:
ache_true = meningitis[meningitis['Headache'] == True]
ache_true

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False
2   3      True  False      True       False
3   4      True  False      True       False
5   6      True  False      True       False
6   7      True  False      True       False
7   8      True  False      True        True
9  10      True  False      True        True

In [11]:
ache_true_vomiting_false = ache_true[ache_true['Vomiting'] == False]
ache_true_vomiting_false

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False

    There is only one instance in the dataset where both conditions are met.

In [12]:
out(P(1, 10))

ANSWER:
	0.1000

### d. P(Vomiting = false ∣ Headache = true)

In [13]:
ache_true

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False
2   3      True  False      True       False
3   4      True  False      True       False
5   6      True  False      True       False
6   7      True  False      True       False
7   8      True  False      True        True
9  10      True  False      True        True

    In the subset where Headache is equal to True, there is only one instance of Vomiting being False.

In [14]:
out(P(1, 7))

ANSWER:
	0.1429

### e. P(Meningitis ∣ Fever = true, Vomiting = false)

In [15]:
fever_true = meningitis[meningitis['Fever'] == True]
fever_true

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False
1   2     False   True     False       False
4   5     False   True     False        True
8   9     False   True     False       False

In [16]:
men_true = fever_true[fever_true['Meningitis'] == True]
men_true

   ID  Headache  Fever  Vomiting  Meningitis
4   5     False   True     False        True

In [17]:
men_false = fever_true[fever_true['Meningitis'] == False]
men_false

   ID  Headache  Fever  Vomiting  Meningitis
0   1      True   True     False       False
1   2     False   True     False       False
8   9     False   True     False       False

    Under the conditions of Fever being true and vomiting being false, there are a total of four cases.  One where Meningitis is true, and 3 where it is false.

In [18]:
print('When meningitis is True')
out(P(1,4))
print('\nWhen meningitis is False')
out(P(3,4))

When meningitis is True
ANSWER:
	0.2500

When meningitis is False
ANSWER:
	0.7500

# **3 Naive Bayes Model**

Predictive data analytics models are often used as tools for process quality control and fault detection. The task in this question is to create a naive Bayes model to monitor a waste water treatment plant. The table below lists a dataset containing details of activities at a waste water treatment plant for 14 days. Each day is described in terms of six descriptive features that are generated from different sensors at the plant. SS-IN measures the solids coming into the plant per day; SED-IN measures the sediment coming into the plant per day; COND-IN measures the electrical conductivity of the water coming into the plant. The features SS-OUT, SED-OUT, and COND-OUT are the corresponding measurements for the water flowing out of the plant. The target feature, STATUS, reports the current situation at the plant: ok, everything is working correctly; settler, there is a problem with the plant settler equipment; or solids, there is a problem with the amount of solids going through the plant.

In [19]:
naive_bayes

    ID  SS-IN  SED-IN  COND-IN  SS-OUT   SED-OUT  COND-OUT   STATUS
0    1    168     3.0     1814    15.0     0.001    1879.0       ok
1    2    156     3.0     1358    14.0     0.010    1425.0       ok
2    3    176     3.5     2200    16.0     0.005    2140.0       ok
3    4    256     3.0     2070    27.0     0.200    2700.0       ok
4    5    230     5.0     1410   131.0     3.500    1575.0  settler
5    6    116     3.0     1238   104.0     0.060    1221.0  settler
6    7    242     7.0     1315   104.0     0.010    1434.0  settler
7    8    242     4.5     1183    78.0     0.020    1374.0  settler
8    9    174     2.5     1110    73.0     1.500    1256.0  settler
9   10   1004    35.0     1218    81.0     1.172      33.3   solids
10  11   1228    46.0     1889    82.4  1932.000      43.1   solids
11  12    964    17.0     2120    20.0  1030.000    1966.0   solids
12  13   2008    32.0     1257    13.0  1038.000    1289.0   solids

### a. Create a naive Bayes model that uses probability density functions to model the descriptive features in this dataset (assume that all the descriptive features are normally distributed).

In [20]:
ok = naive_bayes[naive_bayes['STATUS'] == 'ok']
settler = naive_bayes[naive_bayes['STATUS'] == 'settler']
solids = naive_bayes[naive_bayes['STATUS'] == 'solids']

    Above is the decomposition of the naive_bayes dataset into pure subsets of 'ok', 'settler', and 'solids'.  With the subsets now broken into pure sets, I can iteratively calculate the means and deviations of each descriptive feature.

In [21]:
print("While target feature == 'ok'")
for x in ok.columns[1:-1]:
    mu = mean(ok[x])
    sigma = stdev(ok[x])
    print(f"\n{x} | ok")
    print(f"  N ( x, {mu:.4f}, {sigma:.4f} )")

While target feature == 'ok'

SS-IN | ok
  N ( x, 189.0000, 45.4166 )

SED-IN | ok
  N ( x, 3.1250, 0.2500 )

COND-IN | ok
  N ( x, 1860.5000, 371.4023 )

SS-OUT | ok
  N ( x, 18.0000, 6.0553 )

SED-OUT | ok
  N ( x, 0.0540, 0.0974 )

COND-OUT | ok
  N ( x, 2036.0000, 532.1911 )

In [22]:
print("While target feature == 'settler'")
for x in settler.columns[1:-1]:
    mu = mean(settler[x])
    sigma = stdev(settler[x])
    print(f"\n{x} | settler")
    print(f"  N ( x, {mu:.4f}, {sigma:.4f} )")

While target feature == 'settler'

SS-IN | settler
  N ( x, 200.8000, 55.1289 )

SED-IN | settler
  N ( x, 4.4000, 1.7819 )

COND-IN | settler
  N ( x, 1251.2000, 116.2441 )

SS-OUT | settler
  N ( x, 98.0000, 23.3773 )

SED-OUT | settler
  N ( x, 1.0180, 1.5266 )

COND-OUT | settler
  N ( x, 1372.0000, 142.5780 )

In [23]:
print("While target feature == 'solids'")
for x in solids.columns[1:-1]:
    mu = mean(solids[x])
    sigma = stdev(solids[x])
    print(f"\n{x} | solids")
    print(f"  N ( x, {mu:.4f}, {sigma:.4f} )")

While target feature == 'solids'

SS-IN | solids
  N ( x, 1301.0000, 485.4400 )

SED-IN | solids
  N ( x, 32.5000, 11.9583 )

COND-IN | solids
  N ( x, 1621.0000, 453.0379 )

SS-OUT | solids
  N ( x, 49.1000, 37.7559 )

SED-OUT | solids
  N ( x, 1000.2930, 789.2243 )

COND-OUT | solids
  N ( x, 832.8500, 958.3122 )

### b. What prediction will the naive Bayes model return for the following query?

SS-IN = 222  
SED-IN = 4.5  
COND-IN = 1,518  
SS-OUT = 74  
SED-OUT = 0.25  
COND-OUT = 1,642

In [24]:
print("     -- OK --")
bayes_list = [222, 4.5, 1518, 74, .25, 1642]
ok_product = bayes_product(ok, 'ok', bayes_list)

     -- OK --

SS-IN | ok
  N ( 222, 189.0000, 45.4166 )

SED-IN | ok
  N ( 4.5, 3.1250, 0.2500 )

COND-IN | ok
  N ( 1518, 1860.5000, 371.4023 )

SS-OUT | ok
  N ( 74, 18.0000, 6.0553 )

SED-OUT | ok
  N ( 0.25, 0.0540, 0.0974 )

COND-OUT | ok
  N ( 1642, 2036.0000, 532.1911 )

In [25]:
print("     -- SETTLER --")
bayes_list = [222, 4.5, 1518, 74, .25, 1642]
settler_product = bayes_product(settler, 'settler', bayes_list)

     -- SETTLER --

SS-IN | settler
  N ( 222, 200.8000, 55.1289 )

SED-IN | settler
  N ( 4.5, 4.4000, 1.7819 )

COND-IN | settler
  N ( 1518, 1251.2000, 116.2441 )

SS-OUT | settler
  N ( 74, 98.0000, 23.3773 )

SED-OUT | settler
  N ( 0.25, 1.0180, 1.5266 )

COND-OUT | settler
  N ( 1642, 1372.0000, 142.5780 )

In [26]:
print("     -- SOLIDS --")
bayes_list = [222, 4.5, 1518, 74, .25, 1642]
solids_prod = bayes_product(solids, 'solids', bayes_list)

     -- SOLIDS --

SS-IN | solids
  N ( 222, 1301.0000, 485.4400 )

SED-IN | solids
  N ( 4.5, 32.5000, 11.9583 )

COND-IN | solids
  N ( 1518, 1621.0000, 453.0379 )

SS-OUT | solids
  N ( 74, 49.1000, 37.7559 )

SED-OUT | solids
  N ( 0.25, 1000.2930, 789.2243 )

COND-OUT | solids
  N ( 1642, 832.8500, 958.3122 )

In [27]:
print(f"ok PDF:       {ok_product * (4 / 13)}")
print(f"\nsettler PDF:  {settler_product * (5 / 13)}")
print(f"\nsolids PDF:   {solids_prod * (4 / 13)}")

ok PDF:       3.415774537571066e-36

settler PDF:  1.5383717893944836e-13

solids PDF:   2.2155636125907452e-20

# **4 Transforming Continuous Features to Descriptive Features**

The table below lists a dataset containing details of policy holders at an insurance company. The descriptive features included in the table describe each policy holders’ ID, occupation, gender, age, the type of insurance policy they hold, and their preferred contact channel. The preferred contact channel is the target feature in this domain.

In [28]:
insurance_policy

   ID    Occupation  Gender  Age Policy Type Pref Channel
0   1      lab tech  female   43       planC        email
1   2      farmhand  female   57       planA        phone
2   3  biophysicist    male   21       planA        email
3   4       sheriff  female   47       planB        phone
4   5       painter    male   55       planC        phone
5   6       manager    male   19       planA        email
6   7     geologist    male   49       planC        phone
7   8     messenger    male   51       planB        email
8   9         nurse  female   18       planC        phone

### a. Using equal-frequency binning transform the Age feature into a categorical feature with three levels: young, middle-aged, mature.

In [29]:
sorted_insurance_age = insurance_policy.sort_values(by = 'Age')
sorted_insurance_age

   ID    Occupation  Gender  Age Policy Type Pref Channel
8   9         nurse  female   18       planC        phone
5   6       manager    male   19       planA        email
2   3  biophysicist    male   21       planA        email
0   1      lab tech  female   43       planC        email
3   4       sheriff  female   47       planB        phone
6   7     geologist    male   49       planC        phone
7   8     messenger    male   51       planB        email
4   5       painter    male   55       planC        phone
1   2      farmhand  female   57       planA        phone

In [30]:
insurance_freq_bin = insurance_policy.copy()

i = 0
for age in insurance_policy['Age']:
    if age < 42:
        insurance_freq_bin.at[i, 'Age'] = 'young'
    elif 43 <= age < 50:
        insurance_freq_bin.at[i, 'Age'] = 'middle-aged'
    elif age >= 51:
        insurance_freq_bin.at[i, 'Age'] = 'mature'
    i+=1
        
insurance_freq_bin

   ID    Occupation  Gender          Age Policy Type Pref Channel
0   1      lab tech  female  middle-aged       planC        email
1   2      farmhand  female       mature       planA        phone
2   3  biophysicist    male        young       planA        email
3   4       sheriff  female  middle-aged       planB        phone
4   5       painter    male       mature       planC        phone
5   6       manager    male        young       planA        email
6   7     geologist    male  middle-aged       planC        phone
7   8     messenger    male       mature       planB        email
8   9         nurse  female        young       planC        phone

### b. Examine the descriptive features in the dataset and list the features that you would exclude before you would use the dataset to build a predictive model. For each feature you decide to exclude, explain why you have made this decision.

In [31]:
print(insurance_freq_bin)

   ID    Occupation  Gender          Age Policy Type Pref Channel
0   1      lab tech  female  middle-aged       planC        email
1   2      farmhand  female       mature       planA        phone
2   3  biophysicist    male        young       planA        email
3   4       sheriff  female  middle-aged       planB        phone
4   5       painter    male       mature       planC        phone
5   6       manager    male        young       planA        email
6   7     geologist    male  middle-aged       planC        phone
7   8     messenger    male       mature       planB        email
8   9         nurse  female        young       planC        phone

In [32]:
print(insurance_freq_bin.sort_values(by = 'Occupation'))
print("\n", insurance_freq_bin.sort_values(by = 'Gender'))
print("\n", insurance_freq_bin.sort_values(by = 'Age'))
print("\n", insurance_freq_bin.sort_values(by = 'Policy Type'))
print("\n", insurance_freq_bin.sort_values(by = 'Pref Channel'))

   ID    Occupation  Gender          Age Policy Type Pref Channel
2   3  biophysicist    male        young       planA        email
1   2      farmhand  female       mature       planA        phone
6   7     geologist    male  middle-aged       planC        phone
0   1      lab tech  female  middle-aged       planC        email
5   6       manager    male        young       planA        email
7   8     messenger    male       mature       planB        email
8   9         nurse  female        young       planC        phone
4   5       painter    male       mature       planC        phone
3   4       sheriff  female  middle-aged       planB        phone

    ID    Occupation  Gender          Age Policy Type Pref Channel
0   1      lab tech  female  middle-aged       planC        email
1   2      farmhand  female       mature       planA        phone
3   4       sheriff  female  middle-aged       planB        phone
8   9         nurse  female        young       planC        phone
2   3  biophysicist    male        young       planA        email
4   5       painter    male       mature       planC        phone
5   6       manager    male        young       planA        email
6   7     geologist    male  middle-aged       planC        phone
7   8     messenger    male       mature       planB        email

    ID    Occupation  Gender          Age Policy Type Pref Channel
1   2      farmhand  female       mature       planA        phone
4   5       painter    male       mature       planC        phone
7   8     messenger    male       mature       planB        email
0   1      lab tech  female  middle-aged       planC        email
3   4       sheriff  female  middle-aged       planB        phone
6   7     geologist    male  middle-aged       planC        phone
2   3  biophysicist    male        young       planA        email
5   6       manager    male        young       planA        email
8   9         nurse  female        young       planC        phone

    ID    Occupation  Gender          Age Policy Type Pref Channel
1   2      farmhand  female       mature       planA        phone
2   3  biophysicist    male        young       planA        email
5   6       manager    male        young       planA        email
3   4       sheriff  female  middle-aged       planB        phone
7   8     messenger    male       mature       planB        email
0   1      lab tech  female  middle-aged       planC        email
4   5       painter    male       mature       planC        phone
6   7     geologist    male  middle-aged       planC        phone
8   9         nurse  female        young       planC        phone

    ID    Occupation  Gender          Age Policy Type Pref Channel
0   1      lab tech  female  middle-aged       planC        email
2   3  biophysicist    male        young       planA        email
5   6       manager    male        young       planA        email
7   8     messenger    male       mature       planB        email
1   2      farmhand  female       mature       planA        phone
3   4       sheriff  female  middle-aged       planB        phone
4   5       painter    male       mature       planC        phone
6   7     geologist    male  middle-aged       planC        phone
8   9         nurse  female        young       planC        phone

    After viewing the data by sorting the set by different features, I would remove the 'occupation' feature.  Every occupation is different, therefore it isn't providing any further insight necessary to reduce the purview of the data.  Also, 'ID' isn't necessary for calculating a bayes model, as this feature it typically used solely for data indexing.

### c. Calculate the probabilities required by a naive Bayes model to represent this domain.

    The following output uses the function ".bayes_network()" from the attached MLequations file.  It recursively outputs the probability of every unique value in every column given it's parent's probability. The '---->' characters represent the depth of the recursive process.  No '---->' means the function has returned to the initial column.

    Let...
    n = number of columns
    i = 0
    P(x.sub.0, ..., x.sub.n) = product[P(x.sub.i | Parents(x.sub.i))]

In [33]:
insurance_ex = insurance_freq_bin[['Gender', 'Age', 'Policy Type', 'Pref Channel']]
data = insurance_ex.copy()
bayes_network(data)

Starting in the 'Gender' column, the initial probability of 'male' is 0.56%

---->
In the next column 'Age', given the probability of 'male' as 0.56%, the probability of 'young' is 0.22%

----> ---->
In the next column 'Policy Type', given the probability of 'young' as 0.22%, the probability of 'planA' is 0.22%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planA' as 0.22%, the probability of 'email' is 0.22%

---->
In the next column 'Age', given the probability of 'male' as 0.56%, the probability of 'mature' is 0.22%

----> ---->
In the next column 'Policy Type', given the probability of 'mature' as 0.22%, the probability of 'planC' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planC' as 0.11%, the probability of 'phone' is 0.11%

----> ---->
In the next column 'Policy Type', given the probability of 'mature' as 0.22%, the probability of 'planB' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planB' as 0.11%, the probability of 'email' is 0.11%

---->
In the next column 'Age', given the probability of 'male' as 0.56%, the probability of 'middle-aged' is 0.11%

----> ---->
In the next column 'Policy Type', given the probability of 'middle-aged' as 0.11%, the probability of 'planC' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planC' as 0.11%, the probability of 'phone' is 0.11%

Starting in the 'Gender' column, the initial probability of 'female' is 0.44%

---->
In the next column 'Age', given the probability of 'female' as 0.44%, the probability of 'middle-aged' is 0.22%

----> ---->
In the next column 'Policy Type', given the probability of 'middle-aged' as 0.22%, the probability of 'planC' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planC' as 0.11%, the probability of 'email' is 0.11%

----> ---->
In the next column 'Policy Type', given the probability of 'middle-aged' as 0.22%, the probability of 'planB' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planB' as 0.11%, the probability of 'phone' is 0.11%

---->
In the next column 'Age', given the probability of 'female' as 0.44%, the probability of 'mature' is 0.11%

----> ---->
In the next column 'Policy Type', given the probability of 'mature' as 0.11%, the probability of 'planA' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planA' as 0.11%, the probability of 'phone' is 0.11%

---->
In the next column 'Age', given the probability of 'female' as 0.44%, the probability of 'young' is 0.11%

----> ---->
In the next column 'Policy Type', given the probability of 'young' as 0.11%, the probability of 'planC' is 0.11%

----> ----> ---->
In the next column 'Pref Channel', given the probability of 'planC' as 0.11%, the probability of 'phone' is 0.11%

### d. What target level will a naive Bayes model predict for the following query: Gender = female, Age = 30, Policy = planA.

In [34]:
columns = ['Gender', 'Age', 'Policy Type']
values = ['female', 'young', 'planA']
print(f'Prediction: {bayes_predict(data, columns, values)}%')

Prediction: 0.0%

    After the dataset is partitioned into a pure set of 'Age == young/30', no instances remain where 'Policy Type == planA'.  Therefore, the probability of this query happening is 0%.

# **5 Another Naive Bayes Model**

Imagine that you have been given a dataset of 1,000 documents that have been classified as being about entertainment or education. There are 700 entertainment documents in the dataset and 300 education documents in the dataset. The tables below give the number of documents from each topic that a selection of words occurred in.

In [35]:
entertainment

   fun   is  machine  christmas  family  learning
0  415  695       35          0     400        70

In [36]:
education

   fun   is  machine  christmas  family  learning
0  200  295      120          0      10       105

### a. What target level will a naive Bayes model predict for the following query document: machine learning is fun

In [37]:
columns = ['machine', 'learning', 'is', 'fun']
entertainment_values = [35, 70, 695, 415]

print(f'Prediction in \'entertainment\' document: {bayes_predict_sin(entertainment, columns, entertainment_values, 700):.4f}%') 

columns = ['machine', 'learning', 'is', 'fun']
education_values = [120, 105, 295, 200]

print(f'Prediction in \'education\' document: {bayes_predict_sin(education, columns, education_values, 300):.4f}%')

Prediction in 'entertainment' document: 0.0029%
Prediction in 'education' document: 0.0918%

### b. What target level will a naive Bayes model predict for the following query document: christmas family fun

    No calculation is necessary; the feature 'christmas' has zero occurences in both documents.  Therefore a naive Bayes model would predict 0% probability.

### c. What target level will a naive Bayes model predict for the query document in part (b) of this question, if Laplace smoothing with k = 10 and a vocabulary size of 6 is used?

In [38]:
%run MLequations_v3.ipynb

columns = ['christmas', 'family', 'fun']
entertainment_values = [0, 400, 415]

print(f'Prediction in \'entertainment\' with k = {10} and domain = {6}: {bayes_predict_sin(entertainment, columns, entertainment_values, 700, 10, 6):.4f}%') 

columns = ['christmas', 'family', 'fun']
education_values = [0, 10, 200]

print(f'\nPrediction in \'education\' with k = {10} and domain = {6}: {bayes_predict_sin(education, columns, education_values, 300, 10, 6):.4f}%')

Prediction in 'entertainment' with k = 10 and domain = 6: 0.0040%

Prediction in 'education' with k = 10 and domain = 6: 0.0009%

    Full disclosure, in the Laplacian smoothing formula:
        count(f = v|t) + k / count(f|t) + (k * |Domain(f)|)
                                ^
    I'm not 100% confident that I'm interpreting this value correctly.  I know in other datasets where there are more potential values in a column, I can count the number of occurences given a target feature.  But since there wasn't a clear target feature in this particular case, I went with just the value of occurences of each word.  So for 'fun' in the document 'entertainment', I went with it's count(f|t) being '415'.
    
    If you could, please let me know in the feedback if my understanding is incorrect.  Thanks Dr. Gudivada!